@import url("composants.css");

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.html-search, .body-search {
    width: 100%;
    height: fit-content;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    color: white;
    font-family: "Cicle_Gordita";
    display: flex;
    flex-direction: column;
    align-items: center;
}

.white-title {
    margin-top: 30px;
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
}

.white-title h1 {
    font-size: 40px;
    font-family: "Dyno_Bold";
    text-transform: uppercase;
    margin: 0 20px;
}

.white-title p {
    margin: 10px 30px;
    font-size: 18px;
    padding: 7px 0;
    text-align: center;
    min-width: 100%;
    background-color: rgb(0, 0, 0, 0.3);
    border-radius: 5px;
}


/* BLOC DE RESULTAT PAR CATEGORIE*/
.results-category {
    border-radius: 5px;
    max-width: 1000px;
    min-width: 1000px;
    padding: 20px 50px; 
    background-color: var(--bg_sub);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.results-category h2 {
    text-transform: uppercase;
    font-size: 30px;
    font-family: "Dyno_Bold";
}

.result {
    border-radius: 5px;
    padding: 10px 60px;
    border: solid 1px white;
    display: flex;
    flex-direction: column;
}

.redirect-to-page:hover {
    filter: none;
}

.result:hover {
    transition: 0.2s;
    background-color: var(--bg);
}

.result h3 {
    margin: 0;
    font-size: 24px;
    font-family: "Dyno_Bold";
    letter-spacing: 1.5px;
}

.result .subtitle {
    color: var(--sec);
    margin: 0;
}

.result p {
    margin: 10px 0 0 0;
    font-size: 16px;
}

.results-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 1000px;
    min-width: 1000px;
    margin-top: 15px;
}