body {
  background-color: #333;
  color: #EB5C0D;
  font-style: Dyno;
}

div.navigbar { 
  display: flex;
  flex-direction: column;
}

div.navig {
  display: flex;
  background-color: #000;
}

button.rectangles {
  display: flex;
  flex-direction: column;
  background-color: #000;
  width: 70px;
  height: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px;
  gap: 1px;
  border: none;
}

button.rectangles > div.rectangle {
  margin: auto;
  width: 75%;
  height: 20%;
  background-color: #ea5c0d;
  color: #8D8D8D;
  border-radius: 50px;
}

#menu {
  position: absolute;
  top: 88px;
  display: none;
  background-color: #000;
  color: #eee;
  border-collapse: collapse;
  border: 1px solid #fff;
  width: 30%;
}

div.sous {
  font-size: 20px;
  padding: 10px;
  border: 1px solid #fff;
  width: 33%;
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
}

#LogoMCN {
  height: 60px;
  margin-top: auto;
  margin-bottom: auto;
}

div.research {
  background-color: #FFF;
  text-align: left;
  margin-right: 10%;
  margin-left: 50%;
  margin-top: auto;
  margin-bottom: auto;
  width: 30%;
  height: 35px;
  padding-right: 13px;
  padding-left: 50px;
  padding-top: 9px;
  padding-bottom: auto;
  font-size: 20px;
  color: #8D8D8D;
  border: 3px solid #BA4503;
  border-radius: 50px;  
}

#loupe { float: right; }

button.menul {
  position: absolute;
  display: flex;
  background-color: #000;
  border: 5px ridge #EB5C0D;
  width: 60px;
  height: 60px;
  left: 95%;
  top: 18px;
}

div.bleu {
  background-color: #00f;
  width: 40%;
  height: 70%;
  margin-top: auto;
  margin-bottom: auto;
}

div.blanc {
  background-color: #fff;
  width: 40%;
  height: 70%;
  margin-top: auto;
  margin-bottom: auto;
}

div.rouge {
  background-color: #f00;
  width: 40%;
  height: 70%;
  margin-top: auto;
  margin-bottom: auto;
}

#langues {
  position: absolute;
  display: none;
  background-color: #000;
  flex-direction: column;
  left: 95%;
  top: 75px;
  border: 5px ridge;
}

div.sousl {
  text-align: center;
  width: 40px;
  height: 40px;
  padding-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

#en { border-bottom: 5px ridge; }

div.Paris {
  height: 100%;
  width: 100%;
  background-image: url('Images/Paris.jpg'); 
  background-size: cover ;
  background-position: center;
  padding-left: 15%;
  padding-right: 15%;
  color: #fff; 
  font-size: 40px;
  text-shadow: 4px 4px black;
}

div.Paris > span { font-size: 100px; }

div.about {
  padding-left: 15%;
  padding-right: 15%;
  text-align: center;
}

.about span.Titre { font-size: 50px; }

.about span.texte { font-size: 35px }

.about span.gros { font-size: 65px; }

button.plus {
  margin-left: 75%;
  margin-top: 50px;
  width: 200px;
  padding: 5px;
  border: 2px solid #F8B03E;
  border-radius: 10px;
  font-size: 18px;
  color: #F8D03E;
  background-color: #333;
}

button.plus:hover { background-color: #222; }

button.plus:hover:active { color: #00F; }

#exception {
  margin-left: 43.2%;
  width: 230px;
}

#exception2 { margin-left: 65%; }

div.Participez {
  margin-top: 100px;
  box-shadow: 0px 50px 100px 0px rgba(0, 0, 0, 0.50), 0px -50px 100px 0px #000;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 100px;
}

div.Titre {
  padding-top: 100px;
  padding-left: 5%;
  font-size: 60px;
}

div.ligne {
  border-top: 2px solid #EB5C0D;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10px;
  margin-bottom: 50px;
}

div.ligne2{
  border-top: 2px solid #EB5C0D;
  margin-left: 0%;
  margin-right: 0%;
  margin-top:10px;
}

div.bloc {
  display: flex;
  gap: 20px;
  padding-left: 8%;
  padding-right: 8%;
}

div.image {
  margin: auto;
  width: 50%;
  margin-bottom: 20px;
  border: 1px solid #000;
  text-align: center;
}

div.Parcourez {
  margin-top: 100px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 100px;
  font-size: 60px;
}

div.box {
  display: flex;
  margin-top: 50px;
  gap: 5%;
  padding-left: 8%;
  padding-right: 8%;
}

div.box > div.cadrant {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  border: 5px solid #fff;
}

div.description {
  width: 50%;
  font-size: 32px;
  text-align: center;
}

div.Decouvrez {
  margin-top: 100px;
  box-shadow: 0px 50px 100px 0px rgba(0, 0, 0, 0.50), 0px -50px 100px 0px #000;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 100px;
  font-size: 60px;
}

div.box2 {
  display: flex;
  margin-top: 50px;
  padding-left: 5%;
  padding-right: 5%;
  gap: 5%;
}

div.box2 > div.cadrant {
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  border: 5px solid #fff;
}
