@import url(style_navbar.inc.css);
@import url(style_footer.inc.css);

body {
    background-color: var(--bg);
    margin: 0;
    padding: 0;
    color: #fff;
}

header {
    background-color: #1a1a1a;
    padding: 1.4rem 5%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    gap: 20px;
    align-items: center;
}

nav ul li a {
    font-size: 1.3rem;
    transition: color 0.5s ease;
}

nav ul li a:hover {
    color: #bbb;
}

#this {
    color: var(--main);
    font-weight: bolder;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    padding: 5vh 10vw;
}

h1 {
    font-size: 3.5em;
    margin-bottom: 0;
}

.main-line {
    width: 20%;
    height: 4px;
    background-color: var(--main);
    color: var(--main);
}

p {
    margin: 4vh 0;
    max-width: 1000px;
    text-align: center;
    font-size: 1.2rem;
}

.separator-line {
    width: 65%;
    height: 1px;
    background-color: var(--main);
    border: none;
}

section {
    margin: 10vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 200px;
}

.parcours {
    display: flex;
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 40px rgba(0, 0, 0, 1);
    overflow: hidden;
    border-radius: 20px;
}

.left-side {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.left-side img {
    width: 50%;
    height: 50%;
    overflow: hidden;
    object-fit: cover;
}

#img1 {
    width: 100%;
}

.right-side {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 50px 40px;
    gap: 40px;
}

.right-side h2 {
    font-size: 2.2rem;
    text-align: center;
    margin: 0;
}

.right-side nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    list-style: none;
}

.right-side nav ul li {
    background-color: var(--main);
    font-weight: bold;
    border-radius: 20px;
    padding: 10px 25px;
}

.right-side p {
    font-size : 2vw;
    text-align: left;
    margin: 0 1vw;
}

@media screen and (width > 1030px) {
    .right-side p {
        font-size: 1.3rem;
    }
}

@media screen and (width < 100vh) {
    .parcours {
        flex-direction: column;
    }
    .left-side, .right-side {
        width: 100%;
    }
    .right-side {
        width: auto;
    }
    .right-side p {
        font-size: 2.2vw;
    }
    .right-side h2 {
        font-size: 5.3vw;
    }
}

@media screen and (width < 600px) {
    .right-side p {
        font-size: 1rem;
    }
    .right-side h2 {
        font-size: 2rem;
    }
}