@import url(style_navbar.inc.css);
@import url(style_footer.inc.css);

html, body {
    display: flex;
    flex-direction: column;
}

button:hover {
    cursor: pointer;
    background-color: darken;
}

a {
    color: inherit;
}

.click { cursor: pointer; }

/* Début Héros */

.Paris {
    height: 65vh;
    background-image: url(''); 
    background-size: cover ;
    background-position: center;
    padding: 25vh 15vw 0 15vw;
    color: #fff; 
    font-size: 7.2vw;
    text-shadow: 0px 5px 10px #000;
}

.Paris span { font-size: 6rem; }

/* Fin Héros */

/* Début about */

.about {
    padding: 0 10vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    overflow: hidden;
}

.about .Titre { font-size: 50px; }

.about .texte { font-size: 6vw; padding: 0 5vw;}

.about .gros { font-size: 65px; }

.plus {
    width: 200px;
    padding: 5px;
    border: 2px solid var(--sec);
    border-radius: 10px;
    font-size: 18px;
    color: var(--sec);
    background-color: var(--bg);
    transition: all 0.5s ease;
    align-self: end;
}

.plus:hover {
    background-color: #222;
}

#exception {
    width: 230px;
    align-self: center;
    margin: 5vh 0 0 0;
    color: var(--sec);
}

/* Fin about */

/* Debut Participez */

.Participez {
    margin-top: 20vh;
    box-shadow: 0px 50px 100px 0px rgba(0, 0, 0, 0.50), 0px -50px 100px 0px #000;
    padding: 0 5vw 15vh 5vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Titre {
    padding: 15vh 5vw 0 5vw;
    font-weight: bold;
    font-size: 60px;
}

.ligne {
    color: var(--main);
    width: 60vw;
    margin-bottom: 20px;
}

.bloc {
    display: flex;
    gap: 20px;
    padding: 0 8vw;
}

.image {
    width: 50%;
    border: 1px solid #000;
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 1.66/1;
    overflow: hidden;
}

.bloc .image .text {
    text-align: center;
    margin-top: 43.5%;
    height: 28%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 2vw;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
}

.image:hover .text {
    transform: translateY(0%);
}

#e1 {
    background-image: url("Images/ev2.jpg") ;
    border-radius: 100px 10px 10px 10px;
}

#e2 {
    background-image: url("Images/ev3.jpg") ;
    border-radius: 10px 100px 10px 10px; 
}

#e3 {
    background-image: url("Images/ev4.jpg") ;
    border-radius: 10px 10px 10px 100px; 
}

#e4 {
    background-image: url("Images/MarchéNoel.jpg") ;
    border-radius: 10px 10px 100px 10px; 
}

/* Fin Participez */

/* Début Parcourez */

.Parcourez {
    margin-top: 100px;
    padding: 0 5vw 10vh 5vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box {
    padding-bottom: 15vh;
    display: flex;
    justify-content: space-evenly;
    gap: 10vw;
    margin: 0 10vw;
}

.box .cadrant {
    display: flex;
    height: 60vh;
    width: 30vw;
    min-width: 400px;
    justify-content: center;
    margin: 0 0 0 1vw;
    max-width: 500px;
}

#monument {
    height: 100%;
    object-fit: cover;
}

.description {
    width: 45%;
    font-size: 32px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#exception2 {
    margin: 0;
    align-self: end;
}

/* Fin Parcourez */

/* Début Découvrez */

.Decouvrez {
    box-shadow: 0px 50px 100px 0px rgba(0, 0, 0, 0.50), 0px -50px 100px 0px #000;
    padding: 0 5vw 15vh 5vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box2 {
    display: flex;
    gap: 5vh 3vw;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1500px;
    align-self: center;
}

.box2 > a {
    width: 380px;
    height: 500px;
}

.cadrant {
    border: 1px solid var(--main_sub);
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    align-content: end;
    border-radius: 20px 0;
    overflow: hidden;
}

.cadrant .text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 3rem;
    text-align: center;
    padding: 0 40px;
    border-radius: 0 0 20px 0;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
}

.cadrant:hover .text {
    transform: translateY(0%);
}

#m1 { background-image: url("Images/Triomphe.jpg") ;}
#m2 { background-image: url("Images/Louvres.jpg") ;}
#m3 { background-image: url("Images/NotreDame.jpg") ;}
#m4 { background-image: url("Images/VINCENNE.jpg") ;}
#m5 { background-image: url("Images/opera.jpg") ;}
#m6 { background-image: url("Images/invalide.jpg") ;}

/* Fin Découvrez */

@media screen and (width < 800px) {
    .box {
        flex-direction: column;
        align-items: center;
    }
    
    .description {
        width: 80%;
        gap: 2.5rem;
    }
    
    #exception2 {
        align-self: center;
    }
}

@media screen and (width > 550px) {
    .Paris {
        font-size: 2.5rem;
    }
    .about .texte {
        font-size: 2.1rem;
    }
}
