@import url(style_navbar.inc.css);
@import url(style_footer.inc.css);

button:hover { cursor: pointer; }

.click { cursor: pointer; }

/* Début Héros */

div.Paris {
width: 69.4vw;
height: 60vh;
background-image: url(''); 
background-size: cover ;
background-position: center;
padding-left: 15%;
padding-right: 15%;
padding-top: 15%;
color: #fff; 
font-size: 40px;
text-shadow: 0px 5px 10px #000;
}

div.Paris > span { font-size: 100px; }

/* Fin Héros */

/* Début about */

div.about {
padding-left: 15%;
padding-right: 15%;
text-align: center;
background-color: linear-gradient(rgba(52, 52, 52, 1), rbga(52, 52, 52, 0.54));
}

.about span.Titre { font-size: 50px; }

.about span.texte { font-size: 35px }

.about span.gros { font-size: 65px; }

button.plus {
margin-left: 75%;
margin-top: 50px;
width: 200px;
padding: 5px;
border: 2px solid var(--sec);
border-radius: 10px;
font-size: 18px;
color: var(--sec);
background-color: var(--bg);
}

button.plus:hover { background-color: #222; }

button.plus:hover:active { color: #00F; }

#exception {
margin-left: 43.2%;
width: 230px;
}

/* Fin about */

#exception2 { margin-left: 65%; }

/* Debut Participez */

div.Participez {
margin-top: 100px;
box-shadow: 0px 50px 100px 0px rgba(0, 0, 0, 0.50), 0px -50px 100px 0px #000;
padding-left: 5%;
padding-right: 5%;
padding-bottom: 100px;
}

div.Titre {
padding-top: 100px;
padding-left: 5%;
font-size: 60px;
}

div.ligne {
border-top: 2px solid #EB5C0D;
margin-left: 10%;
margin-right: 10%;
margin-top: 10px;
margin-bottom: 50px;
}

div.bloc {
display: flex;
gap: 20px;
padding-left: 8%;
padding-right: 8%;
}

div.image {
margin: auto;
width: 50%;
margin-bottom: 20px;
border: 1px solid #000;
background-size: cover ;
background-position: center;
background-repeat: no-repeat;
aspect-ratio: 1.66/1;
background-image: url('')
}

div.bloc > div.image > div.text {
text-align: center;
margin-top: 43.5%;
height: 28%;
background-color: rgba(0, 0, 0, 0.12);
color: #fff;
font-size: 35px;
}

#e1 {
background-image: url("Images/ev2.jpg") ;
border-radius: 100px 10px 10px 10px; 
}

#e2 {
background-image: url("Images/ev3.jpg") ;
border-radius: 10px 100px 10px 10px; 
}

#e3 {
background-image: url("Images/ev4.jpg") ;
border-radius: 10px 10px 10px 100px; 
}

#e3 > div.text { border-radius: 10px 10px 10px 100px; }

#e4 {
background-image: url("Images/MarchéNoel.jpg") ;
border-radius: 10px 10px 100px 10px; 
}

#e4 > div.text { border-radius: 10px 10px 100px 10px; }

/* Fin Participez */

/* Début Parcourez */

div.Parcourez {
margin-top: 100px;
padding-left: 5%;
padding-right: 5%;
padding-bottom: 100px;
font-size: 60px;
}

div.box {
display: flex;
margin-top: 50px;
gap: 5%;
padding-left: 8%;
padding-right: 8%;
}

div.box > div.cadrant {
margin-left: auto;
margin-right: auto;
width: 30%;
border: 5px solid #fff;
}

div.description {
width: 50%;
font-size: 32px;
text-align: center;
}

/* Fin Parcourez */

/* Début Découvrez */

div.Decouvrez {
margin-top: 100px;
box-shadow: 0px 50px 100px 0px rgba(0, 0, 0, 0.50), 0px -50px 100px 0px #000;
padding-left: 10%;
padding-right: 10%;
padding-bottom: 100px;
font-size: 60px;
}

div.box2 {
display: flex;
margin-top: 50px;
padding-left: 8%;
padding-right: 8%;
gap: 5%;
}

div.box2 > a {
  width: 100%;
  height: 100%;
}

div.cadrant {
margin-left: auto;
margin-right: auto;
width: 100%;
border: 5px solid #fff;
background-size: cover ;
background-position: center;
background-repeat: no-repeat;
aspect-ratio: 1/1.33;
}

div.cadrant > div.text {
text-align: center;
margin-top: 95%;
height: 28%;
background-color: rgba(0, 0, 0, 0.3);
color: #fff;
}

#m1 { background-image: url("Images/Triomphe.jpg") ;}
#m2 { background-image: url("Images/Louvres.jpg") ;}
#m3 { background-image: url("Images/NotreDame.jpg") ;}
#m4 { background-image: url("Images/VINCENNE.jpg") ;}
#m5 { background-image: url("Images/opera.jpg") ;}
#m6 { background-image: url("Images/invalide.jpg") ;}

/* Fin Découvrez */
