@import url(style_navbar.inc.css);
@import url(style_footer.inc.css);

body {
    font-family: Arial, sans-serif;
    background-color: #2c2c2c;
    margin: 0;
    padding: 0;
    color: #fff;
}

header {
    background-color: #1a1a1a;
    padding: 1.4rem 5%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    gap: 20px;
    align-items: center;
}

nav ul li a {
    font-size: 1.3rem;
    transition: color 0.5s ease;
}

nav ul li a:hover {
    color: #bbb;
}

#this {
    color: var(--main);
    font-weight: bolder;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 5vh 5%;
}

h1 {
    font-size: 3.5em;
    margin-bottom: 0;
}

.main-line {
    width: 20%;
    height: 4px;
    background-color: var(--main);
    color: var(--main);
}

.text-container {
    display: block; 
}

h2 {
    color: #f7af3e;
    margin: 0; 
    height: fit-content; 
}

p {
    margin: 5px 0; 
    max-width: 1000px;
    text-align: left; 
    font-size: 1.2rem;
}

.vertical-line {
    width: 4px; 
    height: 100px; 
    background-color: var(--main); 
    margin: 0 20px 0 0;
    transform: rotate(10deg);
    height: 50px;
}

.flex-container {
    display: flex;
    align-items: center;
    width: 100%; 
    margin: 0; 
}