@import url(style_navbar.inc.css);
@import url(style_footer.inc.css);

:root {
    --main: #ea5c0d;
    --main_sub: #b94503;
    --sec: #f7af3e;
    --bg: #333;
    --bg_sub: #505050;
  }
  
  body {
    background-color: var(--bg);
    color: var(--main);
    font-style: "Dyno";
    margin: 0px;
  }
  
button:hover { cursor: pointer; }

.click { cursor: pointer; }

  
  
  div.Paris {
    height: 100%;
    width: 100%;
    background-image: url('Images/Paris.jpg'); 
    background-size: cover ;
    background-position: center;
    padding-left: 15%;
    padding-right: 15%;
    color: #F8B03E; 
  }
  
  .about span.Titre {
    font-size: 50px;
  }
  
  .about span.texte { font-size: 35px }
  
  .about span.gros { font-size: 65px; }
  
  .about div.plusInfo {
    margin-left: 75%;
    margin-top: 50px;
    width: 200px;
    padding: 3px;
    border: 3px solid #F8B03E;
    font-size: 18px;
    color: #F8D03E;
  }
  
  div.Evenements {
    margin-top: 100px;
    box-shadow: 0px 50px 100px 0px rgba(0, 0, 0, 0.50), 0px -50px 100px 0px #000;
    padding-top: 100px;
    padding-left: 10%;
    font-size: 60px;
  }
  
  div.ligne {
    border-top: 2px solid #EB5C0D;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
  }
  div.ligne2{
    border-top: 2px solid #EB5C0D;
    margin: left 0%;
    margin-right: 0%;
    margin-top:10px;
  }
  
  div.Parcourez {
    margin-top: 100px;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 60px;
  }
  
  div.boite {
    margin-top: 75px;
    gap: 30px;
    display: flex;
    flex-direction: column;
  }
  
  div.boite > div.cadrant {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 100px;
    background-color: #FFF;
    color: #8D8D8D;
    border: 3px solid #BA4503;
    border-radius: 50px;  
  }
  
  div.Decouvrez {
    margin-top: 100px;
    box-shadow: 0px 50px 100px 0px rgba(0, 0, 0, 0.50), 0px -50px 100px 0px #000;
    padding-top: 100px;
    padding-left: 10%;
    font-size: 60px;
  }
  

  
  div.box {
    display: flex;
    margin-top: 50px;
  }
  
  div.box > div.cadrant {
    width: 25%
  }
  
  div.Champs-Info {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 70%;
    background-image: url('Images/CHAMPS.jpg'); 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; 
    padding-left: 15%;
    padding-right: 15%;
    color: white; 
  }
  
  
  .about2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    
  }
  
  .about2 span.gros {
    font-size: 65px;
  }
  
  .center-text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0; 
    font-size: 20px;
  }
  
  .center-text p{
    margin-left: 10%;
    color:white;
    margin-right: 10%;
  } 
  .center-text0 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0; 
    font-size: 20px;
  }
  
  .center-text0 p{
    margin-left: 10%;
    color:white;
    margin-right: 10%;
  }   
  .center-text0 + .center-text0 {
    margin-top: -30px;
  }
  
  .center-text2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0; 
    font-size: 20px;
  }  
  .center-text2 p{
  margin-right: 20%;
  margin-left:20% ;
  color:white;
  }
  .sousTitre{
      size: 25px;
      color:white;
      margin-left: 20%;
  }
  
  .titre-gauche {
    text-align: left;
    border-bottom: 5px solid #EB5C0D; 
    margin-bottom:5%;
    padding-bottom:5px; 
    margin-left: 10%;
    margin-right: 10%;
    color:#EB5C0D;
  }
  
  .titre-gauche span.gros2{
    font-size: 40px;
  }
  
  
  .texte-au-dessus-de-ligne {
    text-align: left;
    margin-right: 20%;
    margin-left:20% ;
    margin-bottom: 10px; 
    color:#f7af3e;
    font-size: 25px;
  }
  .texte-a-gauche {
    text-align: left;
    margin-left: 10%;
    margin-right: 20%;
    margin-left:20% ;
    margin-bottom: 10px; 
  }
  
  .texte-au-dessus-de-ligne .ligne3 {
    border-top: 2px solid #f7af3e;
    margin-top: 10px;
  }
  .Champs-Info2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 70%;
    background-image: url('Images/CHAMPS2.jpg'); 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; 
    padding-left: 15%;
    padding-right: 15%;
  }
  .description{
    margin-left: 23%;
    color:white
  }
  
  .description p {
    font-style: italic;
  }
  
  .rectangle-orange {
    background-color: #EB5C0D;
    padding: 20px;
    width: 100%; 
    box-sizing: border-box;
    color: white;
    text-align: center;
    font-size: 20;
    margin: 0;
  }
  .texterectangle{
    color:white;
    margin-left: 60%;
  }
  
  .texterectangle:hover:active { color: #00F; }
  
  .Champs-Info3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 70%;
    background-image: url('Images/PlanArc.jpg'); 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; 
    padding-left: 15%;
    padding-right: 15%;
  }
  :root {
    --main: #ea5c0d;
  }
  
  @font-face {
    font-family: "Dyno_Bold";
    src: url("Fonts/DYNO/Dyno\ Bold.ttf");
  }
  
  @font-face {
    font-family: "Cicle_Gordita";
    src: url("Fonts/CICLE/Cicle\ Gordita.ttf")
  }
  